title: {{title}}
description: {{description}}
version: {{version}}
{{#contact}}
contact:
    name: {{name}}
    url: {{url}}
    email: {{email}}
{{/contact}}
{{#license}}
license:
    name: {{name}}
    url: {{url}}
{{/license}}