swagger: '2.0'
info:
  title: {{title}}
  description: {{description}}
  version: {{version}}
  contact:
    name: {{contactName}}
    url: {{contactUrl}}
    email: {{contactEmail}}
  license:
    name: {{licenseName}}
    url: {{licenseUrl}}
