info:
  title: {{title}}
  description: {{description}}
  version: {{version}}
  contact:
    name: {{contactName}}
    email: {{contactEmail}}
    url: {{contactUrl}}
  license:
    name: {{licenseName}}
    url: {{licenseUrl}}
