paths:
  /{{api_version}}/{{resource_name}}:
    post:
      description: Create {{resource_name}}
      summary: Create {{resource_name}}
      operationId: create{{resource_name}}
      requestBody:
        content:
          application/json:
            schema:
              $ref: "../schemas/_index.yml#/{{resource_name}}"
        required: true
      responses:
        "201":
          description: "{{resource_name}} creation succeeded"
          content:
            application/json:
              schema:
                $ref: "../schemas/_index.yml#/{{resource_name}}"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "../schemas/_index.yml#/ErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "../schemas/_index.yml#/ErrorResponse"

  /{{api_version}}/{{resource_name}}/{id}:
      get:
        description: Get {{resource_name}} by ID
        summary: Get {{resource_name}} by ID
        operationId: get{{resource_name}}ById
        responses:
          "200":
            description: "{{resource_name}} found"
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/{{resource_name}}"
          "404":
            description: "{{resource_name}} not found"
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/ErrorResponse"
          "500":
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/ErrorResponse"
      put:
        description: Update {{resource_name}} by ID
        summary: Update {{resource_name}} by ID
        operationId: update{{resource_name}}ById
        requestBody:
          content:
            application/json:
              schema:
                $ref: "../schemas/_index.yml#/{{resource_name}}"
          required: true
        responses:
          "200":
            description: "{{resource_name}} update succeeded"
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/{{resource_name}}"
          "400":
            description: Bad Request
            content:
            application/json:
            schema:
            $ref: "../schemas/_index.yml#/ErrorResponse"
          "404":
            description: "{{resource_name}} not found"
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/ErrorResponse"
          "500":
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/ErrorResponse"
      delete:
        description: Delete {{resource_name}} by ID
        summary: Delete {{resource_name}} by ID
        operationId: delete{{resource_name}}ById
        responses:
          "204":
            description: No Content
          "404":
            description: "{{resource_name}} not found"
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/ErrorResponse"
          "500":
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: "../schemas/_index.yml#/ErrorResponse"