{{#errors}}
{{name}}:
  description: {{description}}
  content:
    {{mediaType}}:
      schema:
        type: object
        properties:
          {{property}}:
            type: {{type}}
            example: {{example}}
{{/errors}}
