openapi: 3.0.0
info:
  $ref: '{{infoFile}}'
servers:
{{#servers}}
  {{> server}}
{{/servers}}
paths:
  /{{path}}:
    {{#httpMethods}}
    {{> httpmethod}}
    {{/httpMethods}}
components:
  securitySchemes:
  {{#securitySchemes}}
    {{name}}:
      {{> security_object}}
  {{/securitySchemes}}
  schemas:
    {{schemaName}}:
      type: {{type}}
      properties:
      {{#properties}}
        {{propertyName}}:
          type: {{propertyType}}
          description: {{propertyDescription}}
          example: {{propertyExample}}
      {{/properties}}
      required:
      {{#required}}
        - {{propertyName}}
      {{/required}}
components:
  parameters:
  {{#parameters}}
    {{parameterName}}:
      {{> parameter_object}}
  {{/parameters}}
components:
  mediaTypes:
  {{#mediaTypes}}
    {{> media_type}}
  {{/mediaTypes}}
components:
  errors:
  {{#errors}}
    {{name}}:
      {{> errors}}
  {{/errors}}
