{{path}}:
{{#httpMethod}}
{{httpMethod}}:
  summary: {{summary}}
  description: {{description}}
  operationId: {{operationId}}
  tags:
  {{#tags}}
    - {{.}}
  {{/tags}}
  parameters:
  {{#parameters}}
    - $ref: '#/components/parameters/{{parameterName}}'
  {{/parameters}}
  {{#requestBodyDescription}}
  requestBody:
    required: {{requestBodyRequired}}
    content:
      {{mediaType}}:
        schema:
          $ref: '#/components/schemas/{{schemaName}}'
  {{/requestBodyDescription}}
  responses:
  {{#response}}
    {{statusCode}}:
    description: {{description}}
    content:
      {{mediaType}}:
        schema:
          $ref: '{{schemaFile}}'
  {{/response}}
{{/httpMethod}}
