  description: {{description}}
  content:
    {{mediaType}}:
      schema:
        type: object
        properties:
          code:
            type: integer
            example: {{statusCode}}
          message:
            type: string
            example: {{message}}
